# ============================================
# Python cache & environment
# ============================================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================
# Logs & outputs & temp data
# ============================================
*.log
*.csv
*.npy
*.npz
*.zip
*.tar
*.pt.backup
*.onnx
*.pth

# ============================================
# YOLO model files
# Ignore ALL .pt files…
*.pt

# …except the one production model you want
!models/final_face_mask_best_sgd_v7.pt

# ============================================
# System / Misc
# ============================================
.DS_Store
Thumbs.db

# ============================================
# Git & configuration
# ============================================
.git/
.gitignore
.gitattributes

# ============================================
# Frontend folders (outside backend)
# ============================================
frontend*/
frontend_v2/
frontend_v3/
frontend_v4/
frontend_v5/

# ============================================
# Node stuff
# ============================================
node_modules/

# ============================================
# Env files
# ============================================
.env

# ============================================
# Cache folders
# ============================================
.cache/
tmp/
